/* start here the RGB color name defined */
$CoralSunrise:rgba(255, 112, 88, 0.05);
$Subdued-Charcoal:rgba(0, 0, 0, 0.19);
$Translucent-Black:rgba(0, 0, 0, 0.23);
$dark-gray:rgba(0, 0, 0, 0.9);
$Light-Apricot:rgba(241, 102, 24, 0.15);
$Gunmetal-Gray:rgb(98 98 98);
$Near-Transparent-Black:rgba(0, 0, 0, 0.02);
$Nearly-Invisible-Black:rgba(0, 0, 0, 0.0151852);
$Transparent-Black:rgba(0, 0, 0, 0.0121481);
$Shadow-Gray:rgba(0, 0, 0, 0.01);
$Subtle:rgba(0, 0, 0, 0.00785185);
$Faint:rgba(0, 0, 0, 0.00481481);
$Darkened-Amethyst:rgba(18, 13, 38, 0.5);
$Tangerine:rgba(255, 112, 88, 0.5);





// start here is the color name defined
$Hex: #ff7058;
$grey: #94959a;
$Ebony: #120d26;
$white: #ffffff;
$Ebony-Clay: #29253c;
$Burnt-Orange: #ff70580d;
$yellow: #ffc042;
$black: #000000;
$Bright-Grey: #3c3e56;
$Light-Coral-Pink: #ff705880;
$Deep-Night-Blue: #120d2680;
$red: #ff0000;
$dark-gray: #2d2d2d;
$Transparent-Rust: #f1661826;
$Light-Gray: #f2f2f2;
$orange: #ff8c79;
$Light-Grey: #d0cfd4;
$PureWhite:#fff;
$LightGrayish:#f2f2f2;
$Charcoal-Gray:#151515;
