$small: 12px;
$slightly-larger: 15px;
$regular: 16px;
$medium: 18px;
$fs-small: 20px;
$fs-medium: 22px;
$large: 24px;
$extra-large: 28px;
$fs-large: 26px;
$fs-huge: 36px;
$fs-xx-large: 30px;
$fs-gigantic: 48px;
$fs-enormous: 40px;
$fs-monstrous: 72px;
