@import '../../base/color';
@import '../../base/Font-Weights';

#main-index {
    .Prices {
    padding: 0;
    margin: 0;

    .prices_container {
        padding-top: 90px;

        .section-title {
        background: $Burnt-Orange;
        padding-top: 43px;

        h3 {
            color: $dark-gray;
             font-size: $fs-enormous; //40px
            letter-spacing: 0.02em;
            font-weight: $fw-bold;
            padding-bottom: 20px;
            line-height: 60px;
        }

        p {
             font-size: $fs-small; //20px
            color:$grey;
            text-align: center;
            font-weight: $fw-normal;
            line-height: 30px;
            padding-bottom: 53px;
        }
        }
    }
    }
}
@import '../../components/_card.scss';
@import '../../breakpoints/home/_Pricesresposive.scss';
