@media screen and (max-width: 1024px) {
    #main-m-b-p {
        .hero-M-Blog {
        .M-Blog-title {
            p {
            font-size: 18px;
            line-height: 25px;
            }
        }
    
        .M-Blog-container {
            .M-Blog-row {
            .label-main {
                h1 {
                font-size: 45px;
                line-height: 60px;
                padding-top: 15px;
                padding-bottom: 20px;
                }
    
                p {
                font-size: 20px;
                line-height: 35px;
                padding-bottom: 30px;
                }
    
                .right_icon {
                .bt {
                    padding: 20.5px 40.5px;
                    line-height: 20px;
                    font-size: 18px;
                }
                }
            }
            }
        }
        }
    }
}

@media screen and (max-width: 990px) {
    #main-m-b-p {
        .hero-M-Blog {
        .M-Blog-title {
            padding-top: 40px;
            padding-bottom: 50px;
        }
    
        .M-Blog-container {
            .M-Blog-row {
            .label-main {
                span {
                font-size: 20px;
                line-height: 39px;
                }
    
                padding-top: 0;
    
                h1 {
                font-size: 33px;
                line-height: 40px;
                padding-top: 10px;
                padding-bottom: 10px;
                }
    
                p {
                font-size: 15px;
                line-height: 30px;
                padding-bottom: 24px;
                }
    
                .right_icon {
                .bt {
                    padding: 15.5px 30.5px;
                    line-height: 25px;
                    font-size: 15px;
                }
                }
            }
            }
        }
        }
    }
}

@media screen and (max-width: 768px){
    #main-m-b-p {
        .hero-M-Blog {
            .M-Blog-container {
                .M-Blog-row {
                    .label-main h1 {
                        font-size: 30px;
                        line-height: 38px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
} 

@media screen and (max-width: 425px) {
    #main-m-b-p {
        .hero-M-Blog {
            .M-Blog-container {
                padding-bottom: 50px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    #main-m-b-p {
        .hero-M-Blog {
        .M-Blog-title {
            p {
            font-size: 15px;
            line-height: 25px;
            }
            padding-top: 10px;
            padding-bottom: 20px;
        }
        }
        .hero-M-Blog .M-Blog-container .M-Blog-row {
        padding: 18px 15px 20px 15px;
        .label-main {
            h1 {
            font-size: 20px;
            line-height: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
            }
        }
        }
    }
}